<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap">
</head>

<ul class="vacancies-list">
  <li *ngFor="let vacancy of vacancies" class="vacancy-item">
    <a routerLink="/vacancy/{{vacancy.id}}">
      <div class="content">
        <div class="name">{{ vacancy.name }}</div>

        <span class="favorite {{ vacancy.favorite ? 'active' : '' }}" 
              (click)="toggleFavorite(vacancy.id, $event)">
          ❤️
        </span>

        <div class="salary">
          💰 {{ vacancy.salary }}
        </div>

        <div class="details">
          <div><span>Payments:</span> {{ vacancy.Payments }}</div>
          <div><span>Work experience:</span> {{ vacancy.workexp }}</div>
          <div><span>Full-time employment Schedule:</span> {{ vacancy.schedule }}</div>
          <div><span>Working hours:</span> {{ vacancy.whours }}</div>
          <div><span>Work format:</span> {{ vacancy.wformat }}</div>
      </div>
      </div>
    </a>
  </li>
</ul>