<div class="edit-vacancy-container" *ngIf="vacancy$ | async as vacancy">
  <h2>Editing a vacancy</h2>

  <form (ngSubmit)="saveVacancy(vacancy)">
    <div class="form-group">
      <label>Name: </label>
      <input [(ngModel)]="vacancy.name" name="name" type="text" required />
    </div>

    <div class="form-group">
      <label>Salary: </label>
      <input [(ngModel)]="vacancy.salary" name="salary" type="text" required />
    </div>

    <div class="form-group">
      <label>Payments: </label>
      <input [(ngModel)]="vacancy.payments" name="Payments" type="text" />
    </div>

    <div class="form-group">
      <label>Work experience: </label>
      <input [(ngModel)]="vacancy.workexp" name="workexp" type="text" />
    </div>

    <div class="form-group">
      <label>Working hours: </label>
      <input [(ngModel)]="vacancy.whours" name="whours" type="number" />
    </div>

    <div class="form-group">
      <label>Schedule:</label>
      <input [(ngModel)]="vacancy.schedule" name="schedule" type="text" />
    </div>

    <div class="form-group">
      <label>Work Format:</label>
      <input [(ngModel)]="vacancy.wformat" name="wformat" type="text" />
    </div>

    <div class="form-actions">
      <button type="button" (click)="cancel()" class="cancel-btn">Cancel</button>
      <button type="submit" class="save-btn">Save</button>
    </div>
  </form>
</div>