<nav class="navbar">
  <div class="logo">
    <a routerLink="/">The Most</a>
  </div>

  <div class="nav-links">
    <a routerLink="/home">Vacancies</a>
    <a routerLink="/favorites">Favorites</a>
    <a routerLink="/resume">Profile</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
    <a routerLink="/create-vacancy" class="create-btn">Create Vacancy</a>
    <a routerLink="/applications">My Applications</a>


  </div>

  <div class="search">
    <app-search></app-search>
  </div>
</nav>
