<div class="resume-form">
    <h2>Add resume</h2>
    <input type="text" [(ngModel)]="newName" placeholder="Name" />
    <input type="text" [(ngModel)]="newRole" placeholder="Position" />
    <input type="text" [(ngModel)]="newSalary" placeholder="Salary" />
    <input type="text" [(ngModel)]="newWorkExperience" placeholder="Work experience" />
    <input type="text" [(ngModel)]="newWorkHours" placeholder="Hours of operation" />
    <input type="text" [(ngModel)]="newImageURL" placeholder="Photo link" />

    <button (click)="addResume(); navigateToResume()">➕ Add resume</button>
</div>
