<div class="resume-container">
    <h1>My Resumes</h1>

    <div *ngFor="let resume of resumes">
        <div class="profile-card">
            <div class="profile-info">
                <img [src]="resume.imageURL" alt="Profile Picture" class="profile-pic">
                <div>
                    <h3>{{ resume.name }}</h3>
                    <p>Your status: <b>{{ resume.status }}</b></p>
                </div>
            </div>
        </div>

        <div class="resume-details">
            <h2>{{ resume.role }}</h2>
            <p>Updated {{ resume.lastUpdated }}</p>
            <p>Salary: {{ resume.salary}}</p>
            <p>Work Experience: {{ resume.workExperience }}</p>
            <p>Work hours: {{ resume.workHours }}</p>

            <div class="stats">
                <p>📊 Weekly Stats</p>
                {{ resume.stats.shows }} views | {{ resume.stats.views }} views | {{ resume.stats.invites }} invitations
            </div>

            <div class="actions">
                <button (click)="updateResume(resume.id)">🔼 Raise in search</button>
                <button (click)="deleteResume(resume.id)">🗑 Delete</button>
                <span>{{ resume.vacancies }} vacancies</span>
            </div>
        </div>
        <hr>
    </div>
    
    <div class="main-buttons">
    <button><a routerLink="/create-resume" class="new">➕ Add New Resume</a></button>   

    <button (click)="loadAllResumes()">📂 Get All Resumes</button>
    </div>
</div>
